extends layout

block content
  .w3-card-4
    header.w3-container.w3-blue
      h1 Formulário do Recurso Educativo
        .w3-right
          a.w3-margin.w3-large(href="/home") Home
            img.w3-margin(src="/images/home.png" alt="home icon" width="40" height="40")
          a.w3-margin.w3-large(href="/resources") Recursos
            img.w3-margin(src="/images/resources.png" alt="resources icon" width="40" height="40")
          a.w3-margin.w3-large(href="/profile") Perfil
            img.w3-margin(src="/images/profile.png" alt="profile icon" width="40" height="40")
          a.w3-margin.w3-large(href="/logout") Logout  
            img.w3-margin(src="/images/logout.png" alt="logout icon" width="40" height="40")

    .w3-container  
      form.w3-container(action="/upload/resource" method="POST" enctype='multipart/form-data')
        fieldset 
            legend Detalhes:
            label Ficheiro Zip 
            input.w3-input.w3-border.w3-round.w3-light-grey(type="file" name="resource")
        input.w3-btn.w3-green.w3-margin(type="submit" value="Submissão do Recurso!")
        button.w3-btn.w3-round.w3-red.w3-margin
          a(href="/resources") Cancelar 

      if erros != undefined
        if erros.length != 0
          .w3-panel.w3-yellow
            h3 Erro!
            for e in erros 
              p= e
    footer.w3-container.w3-blue
      address Generated in PGDRE at #{d} #[a#home(href="/home") Go back to home!]