doctype html
html
  head
    title PGDRE
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="icon" type="image/x-icon" href="/images/favicon.png")
    script(src='/javascripts/jquery-3.6.4.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    link(rel='stylesheet', href='/javascripts/jquery.modal.min.css')
    script(src='/javascripts/popups.js')
  body
    block content
